:root {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  line-height: 1.5;
  min-height: 100%;
  text-size-adjust: 100%;
  font-smoothing: antialiased;
  font-weight: normal;
  background-color: rgb(242, 242, 242);
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;

  &:active {
    color: rgb(78, 0, 153);
  }
  &:hover {
    color: rgb(104, 0, 204);
  }

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
